@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
}
